name: Publish artifact

on:
  push:
    branches: [ "develop", "master" ]

jobs:

  artifact:
    name: Publish - GitHub Packages
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Publish artifact on GitHub Packages
        run: mvn -B -P dev clean deploy
        env:
          GITHUB_TOKEN: ${{ secrets.MY_TOKEN }}